<p>
  <strong>User Show Page:</strong> <br>
  
 
  <b>Email:</b> <%= @user.email %> <br>
  
  
<table>
  <thead>
    <tr>
      <th>Goals</th>
      <th>Plans</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
          <% if @user.goals.any? %>
          <ul><%= render @user.goals %></ul>
          <% else %>
          This user has no goals yet
          <% end %>        
      </td>
      <td>
        
        
        <% @user.user_goals.each do |uug| %>

        <% uug.plan.each do |ugpid| %>
        <%= ugpid.name %>
        <% end %>
        <% end %>

        
        
        </td>
    </tr>
    </tbody>
</table>

 
  
  
   <!--< if user.goal.any? %>-->
   <!-- <p> Goals for this user: <= render user.goals %> </p>-->
   <!--< end %>-->

</p>